* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

header {
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.subscribe {
    background-color: #0000ee;
    color: #fff;
    border: none;
    padding: .8rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.subscribe:hover {
    background-color: #1572f3;
}
.hero {
    background-color: #fefefe;
    padding: 2rem;
    text-align: center;
}

.hero-content h1 {
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
    margin-bottom: .5rem;
}

.hero-content p {
    color: #535353;
}

.featured-post {
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
}

.post {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 800px;
}

.post img {
    width: 100%;
    height: auto;
}

.post-info {
    padding: 1rem;
}

.post-info .tag {
    background-color: #4A90E2;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-size: 0.75rem;
}

.post-info h2, .post-info h3 {
    margin: 0.5rem 0;
}

.post-info p {
    color: #777;
    font-size: 0.875rem;
}

.other-posts {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.other-posts .post {
    width: 450px;
}

footer {
    text-align: center;
    padding: 3rem;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
